# see https://help.github.com/articles/ignoring-files/ for more about ignoring files

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Testing Setup
.coverage
.tests/
test_*.py

# MySQL environment files
.env

# Environment and dependency files
*.env
venv/
ENV/
env/
.venv/
env/
bin/
build/
lib/
include/
*.egg-info/
pip-lock.json

# Logs
logs/
*.log

# Virtual Environment
venv/

# IDEs
.vscode/
.idea/

# DS_Store
*.DS_Store
